body{background-color:lightskyblue; font-type: sans-serif; color: darkslateblue; margin: 20px}
header{background-color: darkslateblue; color:white; padding: 15px; font-type: monospace; margin:-20px}
th{padding-left:50px;}
a{color:white;}
h1{padding-left:10px}
img{width: 500px}